body{
    background-img: url("https://thumbs.dreamstime.com/z/seamless-happy-birthday-balloon-cake-decoration-background-pattern-vector-192225797.jpg");
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    color:aliceblue
}

#output{
    font-weight: bold;
    color:rgb(255, 0, 60);
    font-size: larger;
}
